In [ ]:
# importando a biblioteca Pandas para tratar os dados
import pandas as pd


def cria_tabela_fato():
    # Função que cria a tabela fato consolidada inicial

    # Criando os nomes das colunas
    colunas_tab_fato_conso = ['ID_Transacao','ID_Colaborador', 'ID_Empresa', 'ID_Cargo', 'ID_Salario','ID_Situacao','Tempo']

    # Criando o dataframe que será a tabela fato consolidada
    tab_fato_conso = pd.DataFrame(columns=colunas_tab_fato_conso)

    # Transformando as colunas no tipo inteiro
    tab_fato_conso[['ID_Transacao','ID_Colaborador', 'ID_Empresa',
                    'ID_Cargo', 'ID_Salario','ID_Situacao']] = tab_fato_conso[['ID_Transacao','ID_Colaborador', 'ID_Empresa',
                                                                    'ID_Cargo', 'ID_Salario','ID_Situacao']].astype(int)

    # Transformando a colunas no tipo datatime
    tab_fato_conso['Tempo'] = pd.to_datetime(tab_fato_conso['Tempo'])
    
    # Retorna a tabela fato consolidada
    return tab_fato_conso


def atualiza_tabela_fato(tab_fato_conso_ant, tab_fato_prod):
    # Função que atualiza os dados da tabela fato consolidada antiga com os dados da tabela 
    
    
    # Índices das tabelas que serão comparados item por item
    ind_fato = tab_fato_conso_ant.index
    ind_prod = tab_fato_prod.index
    
    # Índices que são novos na tabela fato consolidada
    novas_entra = tab_fato_prod[~tab_fato_prod.isin(tab_fato_conso_ant)]
    
    # Índices que são velhos na tabela fato consolidada    
    velhas_entra = tab_fato_prod[tab_fato_prod.isin(tab_fato_conso_ant)]
    
    # Dataframe com as linhas que já estavam consolidadas, porém foram modificadas
    muda_exist = pd.DataFrame(columns=tab_fato_prod.columns)
    
    for n in novas_entra:
        
        # Adicionando novas linhas que não estavam presentes na tabela anterior
        pd.concat([tab_fato_conso_ant, tab_fato_prod.iloc[n]],axis=0)
        
    
    for i in range(ind_fato):
        # Verificando e atualizando linha por linha da nova tabela fato
        
        if i in ind_prod:
            
            # Verificando se houve mudança nos valores da linha que já estava consolidada 
            muda = tab_fato_conso_ant.iloc[i] == tab_fato_prod.iloc[i]
            
            # Concatena as linhas 
            if False in muda.values:
                pd.concat([muda_exist,tab_fato_prod.iloc[i]], axis=0)
    
    # Mostra os IDs que já estavam consolidados e foram modificados
    print(f"Os valores nos IDs consolidados abaixo, foram modificados: \n {novas_entra.index}")
    
    if len(muda_exist) > 0:
    
        conso = str(input("Gostaria de alterar esses valores: "))
        
        while conso != "sim" or conso != "nao":
            
            conso = str(input("Gostaria de alterar esses valores: "))
            
        if conso == "sim":
               
           for v in velhas_entra:
               
                tab_fato_conso_ant.iloc[v] = tab_fato_prod.iloc[v]   
           
    
    return tab_fato_conso_ant

In [ ]:
# Cria a tabela fato inicial
tab_fato_inicial = cria_tabela_fato()

# Transforma a tabela fato em formato csv e salva em uma pasta separada
tab_fato_inicial.to_csv("dados_consolidados/tabela_fato_consolidada.csv", index=False)

In [ ]:
import pandas as pd

# Abrindo o arquivo em formato .xlsx

tab_fato_prod = pd.read_excel("dados_producao/Tabela_fato_em_producao.xlsx",index_col='ID_transacao')

tabela_atualizada = 

# Verificando linha por linha os dados da tabela em produção, em caso de erros, a linha será separa para análise

Tempo             2025-11-02 00:00:00
ID_Colaborador                      2
ID_Empresa                          1
ID_Cargo                            2
ID_Salario                          2
ID_Situacao                         1
Name: 2, dtype: object

In [ ]:
tab_fato_inicial

Empty DataFrame
Columns: [Tempo, ID_Colaborador, ID_Empresa, ID_Cargo, ID_Salario, ID_Situacao]
Index: []

In [74]:
tab_fato_prod

,Tempo,ID_Colaborador,ID_Empresa,ID_Cargo,ID_Salario,ID_Situacao
ID_transacao,,,,,,
1,2025-11-02,1,1,1,1,1
2,2025-11-02,2,1,2,2,1
3,2025-11-02,3,1,3,3,1
4,2025-11-03,4,1,1,1,1
5,2025-11-03,1,1,1,1,0