In [2]:
# importando a biblioteca Pandas para tratar os dados
import pandas as pd


def cria_tabela_fato():
    # Função que cria a tabela fato consolidada inicial

    # Criando os nomes das colunas
    colunas_tab_fato_conso = ['ID_Transacao','ID_Colaborador', 'ID_Empresa', 'ID_Cargo', 'ID_Salario','ID_Situacao','Tempo']

    # Criando o dataframe que será a tabela fato consolidada
    tab_fato_conso = pd.DataFrame(columns=colunas_tab_fato_conso)

    # Transformando as colunas no tipo inteiro
    tab_fato_conso[['ID_Transacao','ID_Colaborador', 'ID_Empresa',
                    'ID_Cargo', 'ID_Salario','ID_Situacao']] = tab_fato_conso[['ID_Transacao','ID_Colaborador', 'ID_Empresa',
                                                                    'ID_Cargo', 'ID_Salario','ID_Situacao']].astype(int)

    # Transformando a colunas no tipo datatime
    tab_fato_conso['Tempo'] = pd.to_datetime(tab_fato_conso['Tempo'])
    

    
    # Retorna a tabela fato consolidada
    return tab_fato_conso


def atualiza_tabela_fato(tab_fato_conso_ant, tab_fato_prod):
    # Função que atualiza os dados da tabela fato consolidada antiga com os dados da tabela 
    
    
    # Índices das tabelas que serão comparados item por item
    ind_fato = tab_fato_conso_ant.index
    ind_prod = tab_fato_prod.index
    
    # Índices que são novos na tabela fato consolidada
    novas_entra = list(ind_prod[~ind_prod.isin(ind_fato)])
    
    # Índices que são velhos na tabela fato consolidada    
    velhas_entra = list(ind_prod[ind_prod.isin(ind_fato)])
    
    # Dataframe com as linhas que já estavam consolidadas, porém foram modificadas
    muda_exist = pd.DataFrame(columns=tab_fato_prod.columns)
    
    for n in novas_entra:
        
        # Adicionando novas linhas que não estavam presentes na tabela anterior
        tab_fato_conso_ant.loc[n] = tab_fato_prod.loc[n]
        
    
    for i in velhas_entra:
        # Verificando e atualizando linha por linha da nova tabela fato
        
        if i in ind_prod:
            
            # Verificando se houve mudança nos valores da linha que já estava consolidada 
            muda = tab_fato_conso_ant.loc[i] == tab_fato_prod.loc[i]
            
            
            # Concatena as linhas 
            if False in muda.values:
                
               muda_exist = pd.concat([muda_exist, pd.DataFrame(tab_fato_prod.loc[i])])
    
    
    # Mostra os IDs que já estavam consolidados e foram modificados
    print(f"Os valores nos IDs consolidados abaixo, foram modificados: \n {muda_exist}")
    
    if len(muda_exist) > 0:
    
        conso = ''
        
        while conso not in {'sim', 'nao'}:
            
            conso = str(input("Gostaria de alterar esses valores: "))
            
        if conso == "sim":
               
           for v in velhas_entra:
               
                tab_fato_conso_ant.loc[v] = tab_fato_prod.loc[v]   
           
    
    return tab_fato_conso_ant

In [4]:
# Cria a tabela fato inicial
tab_fato_inicial = cria_tabela_fato()

# Transforma a tabela fato em formato csv e salva em uma pasta separada
tab_fato_inicial.to_csv("tabela_fato_consolidada.csv", index=False)

In [6]:
import pandas as pd

# Abrindo o arquivo em formato .xlsx

tab_fato_inicial = pd.read_csv("tabela_fato_consolidada.csv")

tab_fato_prod = pd.read_excel("../dados_producao/Tabela_fato_em_producao.xlsx",index_col=None)

tab_fato_nova = atualiza_tabela_fato(tab_fato_inicial, tab_fato_prod)

# Verificando linha por linha os dados da tabela em produção, em caso de erros, a linha será separa para análise

Os valores nos IDs consolidados abaixo, foram modificados:
 Empty DataFrame
Columns: [ID_Transacao, ID_Colaborador, ID_Empresa, ID_Cargo, ID_Salario, ID_Situacao, Tempo]
Index: []

In [60]:
tab_fato_nova

,ID_Transacao,ID_Colaborador,ID_Empresa,ID_Cargo,ID_Salario,ID_Situacao,Tempo
0,0,1,1,1,1,1,2025-11-02
1,1,2,1,2,2,1,2025-11-02
2,2,3,1,3,3,1,2025-11-02
3,3,4,1,1,1,1,2025-11-03
4,4,1,1,1,1,0,2025-11-03
5,6,1,1,1,1,0,2025-11-03
6,5,1,1,1,1,0,2025-11-03

In [30]:
tab_fato_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Transacao    5 non-null      int64
 1   ID_Colaborador  5 non-null      int64
 2   ID_Empresa      5 non-null      int64
 3   ID_Cargo        5 non-null      int64
 4   ID_Salario      5 non-null      int64
 5   ID_Situacao     5 non-null      int64
 6   Tempo           5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 408.0 bytes

In [64]:
tab_fato_test = cria_tabela_fato()

In [65]:
tab_fato_prod

,ID_Transacao,ID_Colaborador,ID_Empresa,ID_Cargo,ID_Salario,ID_Situacao,Tempo
0,0,1,1,1,1,1,2025-11-02
1,1,2,1,2,2,1,2025-11-02
2,2,3,1,3,3,1,2025-11-02
3,3,4,1,1,1,1,2025-11-03
4,4,1,1,1,1,0,2025-11-03
5,6,1,1,1,1,0,2025-11-03
6,5,1,1,1,1,0,2025-11-03

In [ ]:
# Inserindo linhas, mesmo que estejam fora de ordem

for n in tab_fato_prod['ID_Transacao'].sort_values():
    inseri = tab_fato_prod[tab_fato_prod['ID_Transacao'] == n]
    tab_fato_test = pd.concat([tab_fato_test, inseri])

In [42]:
tab_fato_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Transacao    5 non-null      int64
 1   ID_Colaborador  5 non-null      int64
 2   ID_Empresa      5 non-null      int64
 3   ID_Cargo        5 non-null      int64
 4   ID_Salario      5 non-null      int64
 5   ID_Situacao     5 non-null      int64
 6   Tempo           5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 320.0 bytes

In [68]:
tab_fato_test

,ID_Transacao,ID_Colaborador,ID_Empresa,ID_Cargo,ID_Salario,ID_Situacao,Tempo
0,0,1,1,1,1,1,2025-11-02
1,1,2,1,2,2,1,2025-11-02
2,2,3,1,3,3,1,2025-11-02
3,3,4,1,1,1,1,2025-11-03
4,4,1,1,1,1,0,2025-11-03
6,5,1,1,1,1,0,2025-11-03
5,6,1,1,1,1,0,2025-11-03